<mat-tab-group>
  <H1>Formulários</H1>
  <mat-tab label="Drive Form">
    <app-form-validation></app-form-validation>
  </mat-tab>
  <mat-tab label="Form Native">
    <app-form-native-validation></app-form-native-validation>
  </mat-tab>
  <mat-tab label="Form Control">
    <app-form-control></app-form-control>
  </mat-tab>
  <mat-tab label="Form Group">
    <app-form-gorup></app-form-gorup>
  </mat-tab>
  <mat-tab label="Form Bilder">
    <app-form-bilder></app-form-bilder>
  </mat-tab>
  <mat-tab label="Form Array">
    <app-form-array></app-form-array>
  </mat-tab>
  <mat-tab label="Reactive Form">
    <app-reactive-form-validation></app-reactive-form-validation>
  </mat-tab>
</mat-tab-group>
