<div class="content">
  <div class="h1">
    <H1>Formulários</H1>
  </div>
  <div class="botoes">
    <button mat-raised-button color="accent" routerLink="template-driven">Drive Form</button>
    <button mat-raised-button color="accent" routerLink="form-native">Form Native</button>
    <button mat-raised-button color="accent" routerLink="form-validation">Form validation</button>
    <button mat-raised-button color="accent" routerLink="form-control">Form Control</button>
    <button mat-raised-button color="accent" routerLink="form-gorup">Form Group</button>
    <button mat-raised-button color="accent" routerLink="form-bilder">Form Bilder</button>
    <button mat-raised-button color="accent" routerLink="form-array">Form Array</button>
    <button mat-raised-button color="accent" routerLink="login-google">login Google/Facebook</button>
    <button mat-raised-button color="accent" routerLink="reactive-form">Reactive form</button>
  </div>
</div>

